<!DOCTYPE html>
<html>
  <head>
    <title>FlairHQ</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="<%= sails.config.environment === 'development' ? '/styles/importer.css' : '/min/production.min.css' %>?v=<%= VERSION %>">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  </head>

  <body ng-controller="userCtrl" ng-cloak ng-init="init({<%=
    (typeof user !== 'undefined' ? 'user:' + JSON.stringify(user) + ',' : '') +
    (typeof refUser !== 'undefined' ? 'refUser:' + JSON.stringify(refUser) + ',' : '') +
    (typeof flairs !== 'undefined' ? 'flairs:' + JSON.stringify(flairs) + ',' : '') +
    (typeof flairApps !== 'undefined' ? 'flairApps:' + JSON.stringify(flairApps) + ',' : '')
  %>})">
    <div id="wrapper">
      <%- partial ('home/header.ejs') %>
      <div id="splash" ng-hide="loaded">
        <div class="container">
        <div class="main container clearfix">
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <noscript>
                    <h2>
                        It appears you don't have JavaScript enabled.
                        If you don't have JavaScript, some parts of FlairHQ will not work for you.

                        We are currently working hard to improve this so that you won't need JavaScript to use the site.
                    </h2>
                </noscript>
                <div ng-class="bigspinner"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div ng-class="{hidden: !loaded}">
        <%- body %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <a href="#privacypolicy" data-toggle="modal">Privacy Policy</a>
      </div>
    </div>

    <!--SCRIPTS-->
    <script id="app" src="<%= sails.config.environment === 'development' ? '/js/app.js' : '/min/production.min.js' %>?v=<%= VERSION %>" <% if (typeof _csrf !== 'undefined') { %> _csrf="<%= _csrf %>" <% } %>></script>
    <!--SCRIPTS END-->
    <% if(sails.config.environment == 'development' ){ %> <script src="http://localhost:35729/livereload.js"></script> <% } %>
    <%- partial('privacyPolicy.ejs') %>
  </body>
</html>
