<%- partial('editProfile.ejs') %>
<%- partial('../privacyPolicy.ejs') %>
<%- partial('flairMod.ejs') %>
<%- partial('flairApply.ejs') %>
<%- partial('applist.ejs') %>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="/images/fhq-500.png" class="img-responsive brand-img"/>
      </a>
    </div>

    <div class="collapse navbar-collapse pull-right" id="main-navbar">
      <form class="navbar-form navbar-left dropdown hidden" role="search" ng-class="loaded ? '' : 'hidden'">
        <div class="form-group" ng-if="onSearchPage && user">
          <div class="form-group has-feedback">
              <input type="text" class="form-control" ng-change="searchMaybe()"
                     placeholder="Search" ng-model="searchInfo.keyword" />
              <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
            <ul class="dropdown-menu list-group search-results" role="menu"
                    ng-show="searching || searchResults.length > 0">
                <li class="list-group-item" ng-if="searching">Searching...</li>
                <div class="scrolling-search-results">
                    <a ng-href="/u/{{result.user}}"
                       ng-repeat="result in searchResults track by $index"
                       ng-if="result !== null"
                       class="list-group-item">
                        <h4 class="list-group-item-heading">
                            /u/{{result.user}} and {{result.user2}}
                        </h4>
                        <p class="list-group-iitem-text">
                            {{result.description || result.gave + " for " + result.got}}
                        </p>
                    </a>
                </div>
                <a ng-href="/search/s/{{searchInfo.keyword}}" class="list-group-item list-group-item-info">
                    More results and advanced
                </a>
            </ul>
        </div>
      </form>
      <ul class="nav navbar-nav hidden" ng-show="user" ng-class="loaded ? '' : 'hidden'">
        <li><a href="/info">Information</a></li>
        <li class="dropdown" ng-if="user.isMod">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moderation<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><a href="/mod/banlist">Ban List</a></li>
            <li><a href="#" data-toggle="modal" data-target="#flairAppList">Flair App List</a></li>
            <li><a href="#" data-toggle="modal" data-target="#flairMod">Edit Flairs</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span ng-class="'flair-' + user.flair.ptrades.flair_css_class"></span>
            <span ng-class="getFlairTextForSVEx()">
                {{user.name}}
            </span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><a href="/">Add References</a></li>
            <li><a href="#flairApplication" data-toggle="modal">Apply for flair</a></li>
            <li class="divider"></li>
            <li><a href="#profileModal" data-toggle="modal">Edit Account</a></li>
            <li><a ng-href="/u/{{user.name}}">Public Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav hidden" ng-hide="user" ng-class="loaded ? '' : 'hidden'">
        <li><a href="/info">Information</a></li>
        <li><a href="/auth/reddit/">Login with Reddit</a></li>
      </ul>
    </div>

  </div>
</nav>
