<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="#" class="navbar-brand"><%= __('Welcome to Fapp.') %></a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="main-navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><%= user.name %></a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
  <div class="main container clearfix">

    <div class="content">

      <div id="addNewReference">
        <input type="url" id="referenceUrl" placeholder="Enter new reference url"></input>
        <input type="text" id="user2" placeholder="Other User"></input>
        <input type="text" id="descrip" placeholder="Description"></input>
        <select id="type">
          <option value="event">Event</option>
          <option value="shiny">Shiny</option>
          <option value="normal">Normal</option>
          <option value="hatch">Egg hatch</option>
        </input>
        <input type="submit" id="addReferenceButton" value="Add">
	<dev id="submitError" class="alert alert-danger" role="alert" hidden></div>
      </div>

      <h2>References</h2>
      <table class="table" id="referencesTable">
        <% for(ref in references) { %>
        <tr>
          <td><a href="<%= references[ref].url %>">Here</a></td>
          <td><a href="http://www.reddit.com<%= references[ref].user2 %>"><%= references[ref].user2 %></a></td>
          <td><%= references[ref].descrip %></td>
          <td><%= references[ref].type %></td>
        </tr>
        <% } %>
      </table>

    </div>
  </div>
</div>

<script>
$("#addReferenceButton").click(function () {
  var refUrl = $('#referenceUrl').val(),
      user2 = $('#user2').val(),
      descrip = $('#descrip').val(),
      type = $('#type').val();

  var url = "/reference/add";
  io.socket.post(url, {"userid": "<%= user.id %>", 
                       "url": refUrl, 
                       "user2": user2,
                       "descrip": descrip,
                       "type": type}, function (data, res) {
    console.log(res);
    if (res.statusCode === 200) {
      $("#referencesTable tr:last").after("<tr><td><a href='" + refUrl + "'>Here</a>"
                                           + "</td><td><a href='" + user2 + "'>" + user2 + "</a>"
                                           + "</td><td>" + descrip
                                           + "</td><td>" + type + "</td></tr>");
    } else {
      $("#submitError").html("Already added that URL.").show();
    }
  });
});

var getUpdatedReferences = function() {
  var url = "/reference/get/<%= user.id %>";
  console.log(url);
  io.socket.get(url, function (data, res) {
    console.log(data);
  });
}
</script>
