<div class="row">
  <table class="table" id="referencesTable">
    <tr>
      <td><h3>Trades ({{numberOfTrades()}})</h3></td>
      <td colspan="2"><h3><small>Information</small></h3></td>
      <td><h3><small>Approved</small></h3></td>
      <td></td>
    </tr>

    <tr data-toggle="collapse" href="#collapseevents">
      <td>Events ({{<%= theUser %>.references.events.length}})</td>
      <td colspan="2">
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isMod && refUser"
                ng-click="approveAll('events')"
                ng-class="[ok.approveAll.events ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.events ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.events ? "" : "Approve all"}}
        </button>
      <td>
        <span>{{<%= theUser %>.references.events.filter(isApproved).length}}</span>
      </td>
      <td></td>
    </tr>
    <tbody id="collapseevents" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.events | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'events')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseshinies">
      <td>Shinies ({{<%= theUser %>.references.shinies.length}})</td>
      <td colspan="2">
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isMod && refUser"
                ng-click="approveAll('shinies')"
                ng-class="[ok.approveAll.shinies ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.shinies ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.shinies ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span>{{<%= theUser %>.references.shinies.filter(isApproved).length}}</span>
      </td>
      <td></td>
    </tr>
    <tbody id="collapseshinies" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.shinies | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'shinies')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsecasuals">
      <td>Casual ({{<%= theUser %>.references.casuals.length}})</td>
      <td colspan="2">
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isMod && refUser"
                ng-click="approveAll('casuals')"
                ng-class="[ok.approveAll.casuals ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.casuals ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.casuals ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span>{{<%= theUser %>.references.casuals.filter(isApproved).length}}</span>
      </td>
      <td></td>
    </tr>
    <tbody id="collapsecasuals" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.casuals | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'casuals')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsebanks">
      <td colspan="2"><h3>Bank trades ({{<%= theUser %>.references.banks.length}})</h3></td>
      <td></td>
      <td colspan="2"></td>
    </tr>
    <tbody id="collapsebanks" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.banks | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td colspan="2">
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'banks')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseeggs">
      <td colspan="2"><h3>Egg Hatches ({{<%= theUser %>.references.eggs.length}})</h3></td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isMod && refUser"
                ng-click="approveAll('eggs')"
                ng-class="[ok.approveAll.eggs ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.eggs ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.eggs ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span>{{<%= theUser %>.references.eggs.filter(isApproved).length}}</span>
      </td>
      <td></td>
    </tr>
    <tbody id="collapseeggs" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.eggs | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.description || reference.descrip}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'eggs')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsegiveaways">
      <td colspan="2"><h3>Giveaways ({{<%= theUser %>.references.giveaways.length}})</h3></td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isMod && refUser"
                ng-click="approveAll('giveaways')"
                ng-class="[ok.approveAll.giveaways ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.giveaways ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.giveaways ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span>{{<%= theUser %>.references.giveaways.filter(isApproved).length}}</span>
      </td>
      <td></td>
    </tr>
    <tbody id="collapsegiveaways" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.giveaways | orderBy: 'createdAt'">
      <td><strong>{{$index + 1}}.</strong></td>
      <td colspan="2"><a ng-href="{{reference.url}}">{{reference.description || reference.descrip}}</a></td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'giveaways')"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

  </table>
</div>