<div class="row">
  <div class="col-md-6">
    <h2>Trades ({{numberOfTrades()}})</h2>
  </div>
</div>
<div class="row">
  <table class="table" id="referencesTable">

    <tr data-toggle="collapse" href="#collapseEvents">
      <td colspan="4">Events ({{<%= theUser %>.references.events.length}})</td>
    </tr>
    <tbody id="collapseEvents" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.events">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <% if (refPage) {%>
      <td ng-if="user.isMod">
        Approved: <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
                         ng-model="reference.approved" />
      </td>
      <% }%>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseShinies">
      <td colspan="4">Shinies ({{<%= theUser %>.references.shinies.length}})</td>
    </tr>
    <tbody id="collapseShinies" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.shinies">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <% if (refPage) {%>
      <td ng-if="user.isMod">
        Approved: <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
                         ng-model="reference.approved" />
      </td>
      <% }%>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseCasuals">
      <td colspan="4">Casual ({{<%= theUser %>.references.casuals.length}})</td>
    </tr>
    <tbody id="collapseCasuals" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.casuals">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <% if (refPage) {%>
      <td ng-if="user.isMod">
        Approved: <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
                         ng-model="reference.approved" />
      </td>
      <% }%>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseBanks">
      <td colspan="4"><h2>Bank trades ({{<%= theUser %>.references.banks.length}})</h2></td>
    </tr>
    <tbody id="collapseBanks" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.banks">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseEggs">
      <td colspan="4"><h2>Egg hatches ({{<%= theUser %>.references.eggs.length}})</h2></td>
    </tr>
    <tbody id="collapseEggs" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.eggs">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.descrip}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <% if (refPage) {%>
      <td ng-if="user.isMod">
        Approved: <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
                         ng-model="reference.approved" />
      </td>
      <% }%>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseGiveaways">
      <td colspan="4"><h2>Giveaways ({{<%= theUser %>.references.giveaways.length}})</h2></td>
    </tr>
    <tbody id="collapseGiveaways" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.giveaways">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.descrip}}</a></td>
      <% if (refPage) {%>
      <td ng-if="user.isMod">
        Approved: <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
                         ng-model="reference.approved" />
      </td>
      <% }%>
    </tr>
    </tbody>

  </table>
</div>