<div class="row">
  <div class="col-md-12">
    <h2>Trades ({{numberOfTrades()}})
      <small class="pull-right">Approved</small></h2>
  </div>
</div>
<div class="row">
  <table class="table" id="referencesTable">

    <tr data-toggle="collapse" href="#collapseevents">
      <td colspan="5">Events ({{<%= theUser %>.references.events.length}})</td>
    </tr>
    <tbody id="collapseevents" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.events">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'events')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseshinies">
      <td colspan="5">Shinies ({{<%= theUser %>.references.shinies.length}})</td>
    </tr>
    <tbody id="collapseshinies" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.shinies">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'shinies')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsecasuals">
      <td colspan="5">Casual ({{<%= theUser %>.references.casuals.length}})</td>
    </tr>
    <tbody id="collapsecasuals" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.casuals">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'casuals')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsebanks">
      <td colspan="5"><h2>Bank trades ({{<%= theUser %>.references.banks.length}})</h2></td>
    </tr>
    <tbody id="collapsebanks" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.banks">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.gave}} for {{reference.got}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'banks')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseeggs">
      <td colspan="5"><h2>Egg hatches ({{<%= theUser %>.references.eggs.length}})</h2></td>
    </tr>
    <tbody id="collapseeggs" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.eggs">
      <td><strong>{{$index + 1}}.</strong></td>
      <td><a ng-href="{{reference.url}}">{{reference.description || reference.descrip}}</a></td>
      <td>
        <a ng-href="http://www.reddit.com{{getRedditUser(reference.user2)}}">
          {{getRedditUser(reference.user2)}}
        </a>
      </td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'eggs')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsegiveaways">
      <td colspan="5"><h2>Giveaways ({{<%= theUser %>.references.giveaways.length}})</h2></td>
    </tr>
    <tbody id="collapsegiveaways" class="collapse">
    <tr ng-repeat="reference in <%= theUser %>.references.giveaways">
      <td><strong>{{$index + 1}}.</strong></td>
      <td colspan="2"><a ng-href="{{reference.url}}">{{reference.description || reference.descrip}}</a></td>
      <td>
        <input type="checkbox" ng-change="approve(reference.id, reference.approved)"
               ng-model="reference.approved"  ng-if="user.isMod && refUser"/>
        <span ng-if="(!user.isMod || (user.isMod && !refUser)) && reference.approved"
              class="glyphicon glyphicon-ok"></span>
      </td>
      <td>
        <a href="#" ng-click="deleteRef(reference.id, $index, 'giveaways')" class="pull-right"
           ng-if="(!refUser || (user.id === refUser.id) || user.isMod)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>

  </table>
</div>