<%- partial('editProfile.ejs') %>
<%- partial('flairMod.ejs') %>
<%- partial('flairApply.ejs') %>
<%- partial('flairText.ejs') %>
<%- partial('applist.ejs') %>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="/images/fhq-500.png" class="img-responsive brand-img"/>
      </a>
    </div>

    <div class="collapse navbar-collapse pull-right" id="main-navbar">
      <%- partial('../../search/header.ejs') %>

      <% if (typeof user !== 'undefined') {%>
      <ul class="nav navbar-nav">
        <li><a href="/info">Information</a></li>
        <li><a href="/tools">Tools</a></li>
        <% if (user.modPermissions && ['all', 'flair'].some(permission => user.modPermissions.indexOf(permission) > -1)) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moderation<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">

            <% if (user.modPermissions.indexOf('all') > -1) { %>
              <li><a href="/mod/banlist">Ban List</a></li>
            <% } %>
            <li><a href="#" data-toggle="modal" data-target="#flairAppList">Flair App List</a></li>
            <li><a href="#" data-toggle="modal" data-target="#flairMod">Edit Flairs</a></li>
            <% if (user.modPermissions.indexOf('all') > -1) { %>
              <li><a href="/mod/banuser">Ban a User</a></li>
            <% } %>
          </ul>
        </li>
        <% } %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span ng-repeat="flair in user.flair" ng-class="renderCSSClass(flair.flair_css_class)"></span>
            <span>
                {{user.name}}
            </span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-inverse" role="menu">
            <li><a href="/">Add References</a></li>
            <li><a href="#flairApplication" data-toggle="modal">Apply for Flair</a></li>
            <li><a href="#flairText" data-toggle="modal">Set Flair Text</a></li>
            <li class="divider"></li>
            <li><a href="#profileModal" data-toggle="modal">Edit Account</a></li>
            <li><a ng-href="/u/<%=user.name%>">Public Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <% } else {%>
      <ul class="nav navbar-nav">
        <li><a href="/info">Information</a></li>
        <li><a href="/tools">Tools</a></li>
        <li>
          <a href="{{'/auth/reddit' + (query.redirect ? '?redirect=' + $encodeURIComponent(query.redirect) : '')}}">
            Login with Reddit
          </a>
        </li>
      </ul>
      <% }%>
    </div>

  </div>
</nav>
