<div class="row">
  <table class="table" id="referencesTable">
    <thead>
      <tr class="no-space">
        <th class="col-xs-1 flair-number"></th>
        <th class="col-xs-7"></th>
        <th class="col-xs-3"></th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>
    
    <tr>
      <td class="firstHeading" colspan="2"><h3>Trades ({{numberOfTrades()}})</h3></td>
      <td><h3 class="text-center"><small></small></h3></td>
      <td><h3 ng-if="user.isFlairMod && !onIndexPage"><small>Approved: </small></h3>
      <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isTrade).filter(isApproved).length}}</span>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>

    <tr data-toggle="collapse" href="#collapseevents">
      <td colspan="2">[<span class="plus-minus">+</span>] Events ({{refUser.references.filter(isEvent).length}})</td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('event')"
                ng-class="[ok.approveAll.event ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.event ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.event ? "" : "Approve all"}}
        </button>
      <td>
        <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isEvent).filter(isApproved).length}}</span>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapseevents" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isEvent | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseshinies">
      <td colspan="2">[<span class="plus-minus">+</span>] Shinies ({{refUser.references.filter(isShiny).length}})</td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('shiny')"
                ng-class="[ok.approveAll.shiny ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.shiny ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.shiny ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isShiny).filter(isApproved).length}}</span>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapseshinies" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isShiny | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsecasuals">
      <td colspan="2">[<span class="plus-minus">+</span>] Competitive / Casual ({{refUser.references.filter(isCasual).length}})</td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('casual')"
                ng-class="[ok.approveAll.casual ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.casual ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.casual ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isCasual).filter(isApproved).length}}</span>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapsecasuals" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isCasual | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsebanks">
      <td colspan="2">[<span class="plus-minus">+</span>] Gen 3-5 Events ({{refUser.references.filter(isBank).length}})</td>
      <td><button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('bank')"
                ng-class="[ok.approveAll.bank ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.bank ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.bank ? "" : "Approve all"}}
      </td>
      <td>
        <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isBank).filter(isApproved).length}}</span>
      </td>
    </tr>
    <tbody id="collapsebanks" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isBank | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapseeggs">
      <td colspan="2">[<span class="plus-minus">+</span>] <h3>Egg Hatches ({{refUser.references.filter(isEgg).length}})</h3></td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('egg')"
                ng-class="[ok.approveAll.egg ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.egg ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.egg ? "" : "Approve all"}}
        </button>
      </td>
      <td>
        <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isEgg).filter(isApproved).length}}</span>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapseeggs" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isEgg | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

    <tr data-toggle="collapse" href="#collapsegiveaways">
      <td colspan="2">[<span class="plus-minus">+</span>] <h3>Giveaways/Contests ({{numberOfPokemonGivenAway(refUser)}} Pokémon given, {{numberOfEggsGivenAway(refUser)}} eggs given)</h3></td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('giveaway')"
                ng-class="[ok.approveAll.giveaway ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.giveaway ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.giveaway ? "" : "Approve all"}}
        </button>
      </td>
        <td>
        </td>
        <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapsegiveaways" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isGiveaway | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

      <tr data-toggle="collapse" href="#collapseeggchecks">
          <td colspan="2">[<span class="plus-minus">+</span>] <h3>Egg/TSV Checks ({{refUser.references.filter(isEggCheck).length}} threads, {{numberOfEggChecks(refUser)}} given)</h3></td>
          <td>
              <button class="btn btn-xs pull-right has-spinner"
                      ng-if="user.isFlairMod && !onIndexPage"
                      ng-click="approveAll('eggcheck')"
                      ng-class="[ok.approveAll.eggcheck ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.eggcheck ? 'active' : '']">
                  <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                  {{ok.approveAll.eggcheck ? "" : "Approve all"}}
              </button>
          </td>
          <td>
            <span ng-if="user.isFlairMod && !onIndexPage">{{numberOfApprovedEggChecks(refUser)}}</span>
          </td>
          <td class="hidden-sm hidden-xs"></td>
      </tr>
      <tbody id="collapseeggchecks" class="collapse">
      <tr ng-repeat="reference in refUser.references | filter: isEggCheck | orderBy: 'createdAt'">
        <%- partial('row.ejs') %>
      </tr>
      </tbody>

      <tr data-toggle="collapse" href="#collapseinvolvement">
          <td colspan="2">[<span class="plus-minus">+</span>] <h3>Free Tradeback/Free Redemption ({{refUser.references.filter(isInvolvement).length}})</h3></td>
          <td>
              <button class="btn btn-xs pull-right has-spinner"
                      ng-if="user.isFlairMod && !onIndexPage"
                      ng-click="approveAll('involvement')"
                      ng-class="[ok.approveAll.involvement ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.involvement ? 'active' : '']">
                  <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                  {{ok.approveAll.involvement ? "" : "Approve all"}}
              </button>
          </td>
          <td>
              <span ng-if="user.isFlairMod && !onIndexPage">{{refUser.references.filter(isInvolvement).filter(isApproved).length}}</span>
          </td>
          <td class="hidden-sm hidden-xs"></td>
      </tr>
      <tbody id="collapseinvolvement" class="collapse">
      <tr ng-repeat="reference in refUser.references | filter: isInvolvement | orderBy: 'createdAt'">
        <%- partial('row.ejs') %>
      </tr>
      </tbody>

    <tr data-toggle="collapse" href="#collapseMisc">
      <td colspan="2">[<span class="plus-minus">+</span>] <h3>Misc ({{refUser.references.filter(isMisc).length}})</h3></td>
      <td>
        <button class="btn btn-xs pull-right has-spinner"
                ng-if="user.isFlairMod && !onIndexPage"
                ng-click="approveAll('misc')"
                ng-class="[ok.approveAll.misc ? 'glyphicon glyphicon-ok' : '',
                  spin.approveAll.misc ? 'active' : '']">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          {{ok.approveAll.misc ? "" : "Approve all"}}
        </button>
      </td>
      <td>

      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>
    <tbody id="collapseMisc" class="collapse">
    <tr ng-repeat="reference in refUser.references | filter: isMisc | orderBy: 'createdAt'">
      <%- partial('row.ejs') %>
    </tr>
    </tbody>

  </table>

  <%- partial('editreference.ejs') %>
  <%- partial('viewreference.ejs') %>
</div>
