<div class="row">
  <table class="table" id="referencesTable">
    <tr>
      <td class="firstHeading" colspan="2"><h3>Trades (<%= refService.numberOfTrades(refUser.references) %>)</h3></td>
      <td></td>
      <td>
        <% if (user.isMod && refPage) { %>
          <h3><small>Approved</small></h3>
        <% } %>
      </td>
      <td class="hidden-sm hidden-xs"></td>
    </tr>

    <% for (var i = 0; i < refTypes.short.length; i++) { %>
      <% var type = refTypes.short[i]; %>
      <% var refs = _.sortBy(_.filter(refUser.references, {type: type}), 'createdAt'); %>
      <tr data-toggle="collapse" href="#collapse<%= type %>">
        <td colspan="2">[<span class=plus-minus>+</span>]
          <% if (i < 3) { %>
            <%= refTypes.long[i]%> (<%= refs.length %>)
          <% } else { %>
            <h3><%= refTypes.long[i] %> (<%= refs.length %>)</h3>
          <% } %>
        <td>
          <% if (user.isMod && refPage && refService.isApprovable(type)) { %>
            <button class="btn btn-xs pull-right has-spinner" ng-click="approveAll('<%= type %>')"
                ng-class="[ok.approveAll.<%= type %> ? 'glyphicon glyphicon-ok' : '', spin.approveAll.<%= type %> ? 'active' : '']">
              <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
              {{ok.approveAll.<%= type %> ? "" : "Approve all"}}
            </button>
          <% } %>
        </td>
        <td>
          <% if (user.isMod && refPage && refService.isApprovable(type)) { %>
              <span><%= _.filter(refs, {approved: true}).length %></span>
          <% } %>
        </td>
        <td class="hidden-sm hidden-xs"></td>
      </tr>
      <tbody id="collapse<%= type %>" class="collapse">
        <% for (var j = 0; j < refs.length; j++) { %>
          <%- partial('row.ejs', {index: j, reference: refs[j]}) %>
        <% } %>
      </tbody>
    <% } %>
  </table>

  <%- partial('editreference.ejs') %>
  <%- partial('viewreference.ejs') %>
</div>