<tr>
  <td>
    <strong>
      <%= index + 1 %>.
    </strong>
  </td>

  <% if (refService.isTrade(reference) || refService.isBank(reference)) { %>
    <td>
      <a ng-href="<%= reference.url %>" target="_blank" ng-mousedown="clickRefLink(<%= JSON.stringify(reference) %>)">
        <%= reference.gave %> for <%= reference.got %>
      </a>
    </td>
  <% } %>

  <% if (refService.isEgg(reference) || refService.isInvolvement(reference)) { %>
    <td class="hidden-sm hidden-xs">
      <a ng-href="<%= reference.url %>" target="_blank" ng-mousedown="clickRefLink(<%= JSON.stringify(reference) %>)">
        <%= reference.description || reference.descrip %>
      </a>
    </td>
  <% } %>

  <% if (refService.isEggCheck(reference)) { %>
    <td>
      <a ng-href="<%= reference.url %>" target="_blank" ng-mousedown="clickRefLink(<%= JSON.stringify(reference) %>)">
        <%= reference.description || reference.descrip %>
        <%= reference.number ? "(" + reference.number + " checked)" : "" %>
      </a>
    </td>
  <% } %>

  <% if (refService.isGiveaway(reference)) { %>
    <td class="hidden-sm hidden-xs">
      <a ng-href="<%= reference.url %>" target="_blank" ng-mousedown="clickRefLink(<%= JSON.stringify(reference) %>)">
        <%= reference.description || reference.descrip %>
        (Sub: <%= reference.url.split("/")[4] + reference.number ? ", " + reference.number + " given" : "" %>)
      </a>
    </td>
  <% } %>

  <% if (refService.isTrade(reference) || refService.isBank(reference) || refService.isEgg(reference) || refService.isInvolvement(reference)) { %>
    <td class="hidden-sm hidden-xs">
      <a ng-href="/u/<%= reference.user2 %>">
        <span>/u/<%= reference.user2.replace('-', '&#8209;') %></span> <!-- replace hyphens with non-breaking hyphens to prevent linebreaks -->
      </a>
    </td>
  <% } %>
  
  <% if (refService.isGiveaway(reference) || refService.isInvolvement(reference) || refService.isEggCheck(reference)) { %>
    <td></td>
  <% } %>
  
  <td>
    <% if (user.isMod && refPage && refService.isApprovable(reference.type)) { %>
      <% var global_index = _.findIndex(refUser.references, {id: reference.id}); %>
      <input type="checkbox"
          ng-change="approve('<%= reference.id %>', refUser.references[<%= global_index %>].approved)"
          ng-model="refUser.references[<%= global_index %>].approved" />
      <% if (reference.edited) { %>
        <span>
          <font class="editstar" title="This reference was edited at some point.">*</font>
        </span>
      <% } if (reference.verified) { %>
        <span>
          <sup><font class="greencheck" title="This trade has been approved and logged by both users.">✓</font></sup>
        </span>
      <% } %>
    <% } %>
  </td>

  <td>
    <a href="#viewReferenceModal" data-toggle="modal" ng-click="editReference(<%= JSON.stringify(reference) %>)" class="icon">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <% if (user.name === refUser.name) { %>
      <a href="#editReferenceModal" data-toggle="modal" ng-click="editReference(<%= JSON.stringify(reference) %>)" class="icon">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    <% } %>
    <% if (user.name === refUser.name || user.isMod) { %>
      <a href="#" ng-really-switch="deleteRef" class="icon" ng-really-click="deleteRef(reference.id)">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    <% } %>
  </td>
</tr>